# Ignore Build results
build
unittest

# Except for .gitignore files!
!.gitignore

# Possible lingering object files
*.o

# Qt creator stuff
*.creator*
*.files
*.includes
*.config

# Google test source
googletest
